
/.obsidian/app.json
/.obsidian/appearance.json
/.obsidian/community-plugins.json
/.obsidian/core-plugins.json
/.obsidian/graph.json
/.obsidian/plugins/colored-text/main.js
/.obsidian/plugins/obsidian-git/main.js
/.obsidian/plugins/colored-text/manifest.json
/.obsidian/plugins/obsidian-git/manifest.json
/.obsidian/plugins/colored-text/styles.css
/.obsidian/plugins/obsidian-git/styles.css
/.obsidian/workspace.json